/* Instafeed
   ========================================================================== */

#instafeed {
    @include span(12 of 12);

    a {
        @include span(3 of 12);
        margin-bottom: 15px;

        @extend %animated;
        @extend %fadeIn;

        &:nth-child(4n) {
            @include last;
        }
    }
}

.sidebar {
    background-color: $primary-color;
    position: fixed;

    &.left {
        @include span(3 of 12 last);
        bottom: 0;
        left: 0;
        top: 0;
    }

    &.right {
        @include span(3 of 12 last);
        bottom: 0;
        right: 0;
        top: 0;
    }

    &.bottom {
        height: 120px;
        @include span(12 of 12);
        bottom: 0;
        right: 0;
        left: 0;
    }

    &.top {
        height: 120px;
        @include span(12 of 12);
        right: 0;
        left: 0;
        top: 0;
    }
}