/* General
   ========================================================================== */

/* ====== Global Settings ====== */

* {
    outline: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: $base-bg-color;
    position: relative;
}

section {
    @include span(12 of 12);
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ====== Text Highlight Color ====== */

::selection {
    background: #8db354;
}

::-moz-selection {
    background: #8db354;
}

/* ====== Show / Hide Devices  ====== */


/* Usage: Show element on mobile */

.show-mobile {
    display: none;

    @include breakpoint($mobile) {
        display: block;
    }
}

/* Usage: Hide element on mobile */

.hide-mobile {
    display: block;

    @include breakpoint($mobile) {
        display: none;
    }
}

/* Usage: Show element on tablet */

.show-tablet {
    display: none;

    @include breakpoint($tablet) {
        display: block;
    }
}

/* Usage: Hide element on tablet */

.hide-tablet {
    display: block;

    @include breakpoint($tablet) {
        display: none;
    }
}

/* Usage: Show element on desktop */

.show-desktop {
    display: none;

    @include breakpoint($desktop) {
        display: block;
    }
}

/* Usage: Hide element on desktop */

.hide-desktop {
    display: block;

    @include breakpoint($desktop) {
        display: none;
    }
}