/* Variables
   ========================================================================== */

/* ====== Image Path ====== */

$base-image-path: "/images/";

/* ====== Color Palette ====== */

$primary-color-dark: #FFA000;
$primary-color: #FFC107;
$primary-color-light: #FFECB3;
$primary-color-text: #212121;
$accent-color: #03A9F4;
$primary-text-color: #212121;
$secondary-text-color:#727272;
$divider-color: #B6B6B6;

/* ====== Base Settings ====== */

/* Base (Global) */
$base-font-size: 16px;
$base-font-family: "josefin_sansregular";

/* Base (Headings) */
$heading-font-family: "josefin_sanssemibold";

/* Base (Links) */
$base-link-color: #03A9F4;
$base-link-hover-color: #03A9F4;

/* Base (Background Color) */
$base-bg-color: #fff;

/* Base (Spacing) */
$base-spacing: 30px;

/* ====== Typography ====== */

/* Fonts */
$font-thin: "josefin_sansthin";
$font-light: "josefin_sanslight";
$font-regular: "josefin_sansregular";
$font-semi-bold: "josefin_sanssemibold";
$font-bold: "josefin_sansbold";

/* Text Colors */
$font-white: #fff;
$font-black: #000;

/* ====== Background ====== */

/* Background Colors */
$bg-white: #fff;
$bg-black: #000;