<div class="footer-content">

    <a class="back-to-top" href="#"><i class="fa fa-angle-double-up"></i></a>

    <div class="wrapper">
        s
    </div>

</div>

<div class="footer-legal">

    <div class="wrapper">
        <div class="footer__left">
        © 20{{ site.time | date: '%y' }} {{ site.title }}
        </div>

        <div class="footer__right">
            <ul>
                <li><a href="https://github.com/Delatoni" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://bitbucket.org/Delatoni" target="_blank"><i class="fa fa-bitbucket"></i></a></li>
                <li><a href="https://www.facebook.com/d.donatoni" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/DellDonatoni" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/delatoni/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://plus.google.com/u/0/+RichardDellDonatoni" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/ddonatoni" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

</div>